# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/zoom_api/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/zoom_api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/zoom_api/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/zoom_api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/zoom_api/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/zoom_api/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/zoom_api/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/zoom_api/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/zoom_api/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/zoom_api/bin/Debug/netcoreapp3.1/appsettings.Development.json
/zoom_api/bin/Debug/netcoreapp3.1/appsettings.json
/zoom_api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/zoom_api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/zoom_api/bin/Debug/netcoreapp3.1/zoom.deps.json
/zoom_api/bin/Debug/netcoreapp3.1/zoom.dll
/zoom_api/bin/Debug/netcoreapp3.1/zoom.exe
/zoom_api/bin/Debug/netcoreapp3.1/zoom.pdb
/zoom_api/bin/Debug/netcoreapp3.1/zoom.runtimeconfig.dev.json
/zoom_api/bin/Debug/netcoreapp3.1/zoom.runtimeconfig.json
/zoom_api/obj/Debug/netcoreapp3.1/staticwebassets/zoom.StaticWebAssets.Manifest.cache
/zoom_api/obj/Debug/netcoreapp3.1/staticwebassets/zoom.StaticWebAssets.xml
/zoom_api/obj/Debug/netcoreapp3.1/zoom.AssemblyInfo.cs
/zoom_api/obj/Debug/netcoreapp3.1/zoom.AssemblyInfoInputs.cache
/zoom_api/obj/Debug/netcoreapp3.1/zoom.MvcApplicationPartsAssemblyInfo.cache
/zoom_api/obj/Debug/netcoreapp3.1/zoom.RazorTargetAssemblyInfo.cache
/zoom_api/obj/Debug/netcoreapp3.1/zoom.assets.cache
/zoom_api/obj/Debug/netcoreapp3.1/zoom.csproj.CopyComplete
/zoom_api/obj/Debug/netcoreapp3.1/zoom.csproj.FileListAbsolute.txt
/zoom_api/obj/Debug/netcoreapp3.1/zoom.csprojAssemblyReference.cache
/zoom_api/obj/Debug/netcoreapp3.1/zoom.dll
/zoom_api/obj/Debug/netcoreapp3.1/zoom.exe
/zoom_api/obj/Debug/netcoreapp3.1/zoom.pdb
/zoom_api/obj/project.assets.json
/zoom_api/obj/zoom.csproj.nuget.cache
/zoom_api/obj/zoom.csproj.nuget.dgspec.json
/zoom_api/obj/zoom.csproj.nuget.g.props
/zoom_api/obj/zoom.csproj.nuget.g.targets
